# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
venv/
.env

# Database files
*.db

# OS files
.DS_Store
Thumbs.db

# Instance folders
instance/

# Vercel build outputs
.vercel/

# Logs
*.log
